{% extends "scaffold.html" %}
{% load static %}

{% block content %}
<main>
    <div class="d-flex align-center justify-center flex-column mb-5">
        <h4 class="text-capitalize ma-0">{{ campeonato.nome }}</h4>

        <span>Unidade: {{ campeonato.unidade }}</span>

        {%if status == 'past'%}
        <span>Acabou em: {{ campeonato.periodo_jogos_fim }}</span>

        {%elif status == 'ongoing'%}
        <span>Acaba em: {{ campeonato.periodo_jogos_fim }}</span>

        {%elif status == 'upcoming'%}
        <span>Começa em: {{ campeonato.periodo_jogos_comeco }}</span>

        {%endif%}

        <button class="mt-2" id="create_button">
            <a href="/edit_championship?pk={{ campeonato.id }}">
                Editar Campeonato
            </a>
        </button>
    </div>

    <hr
        style="max-width: 20vw !important; background-color: var(--quaternary) !important; color: var(--quaternary) !important; border-color: var(--quaternary) !important;" />

    <div class="d-flex flex-column align-center justify-center">
        {%if status == 'past'%}

        <div class="d-flex align-center justify-center flex-column mb-5">
            <img src="{% static 'img/medal.svg' %}" class="icon mb-2">
            <span style="color: #FFD700 !important;">1° lugar: {{ posicao.0.time.nome }} ({{ posicao.0.pontos }}
                pts)</span>
            <span style="color: #c0c0c0 !important;">2° lugar: {{ posicao.1.time.nome }} ({{ posicao.1.pontos }}
                pts)</span>
            <span style="color: #CD7F32 !important;">3° lugar: {{ posicao.2.time.nome }} ({{ posicao.2.pontos }}
                pts)</span>
        </div>

        <h5 class="mt-5">Jogos</h5>
        {% for x in jogos %}
        <div class="d-flex flex-column align-center justify-center mb-5">
            <span>{{ x.time1 }} ({{ x.resultado_time1 }}) x {{ x.time2 }} ({{ x.resultado_time2 }})</span>
            <span>Data: {{ x.data }}, {{ x.horario }}</span>
            <span>Rodada: {{ x.rodada }}</span>
            <span>Quadra: {{ x.quadra }}</span>
        </div>
        {% endfor %}

        {%elif status == 'ongoing'%}
        <h5 class="mt-5">Jogos</h5>
        {% for x in jogos %}
        <div class="d-flex flex-column align-center justify-center mb-5">
            <span>{{ x.time1 }} ({{ x.resultado_time1 }}) x {{ x.time2 }} ({{ x.resultado_time2 }})</span>
            <span>Data: {{ x.data }}, {{ x.horario }}</span>
            <span>Rodada: {{ x.rodada }}</span>
            <span>Quadra: {{ x.quadra }}</span>
        </div>

        {% endfor %}

        {%else%}
        <h5 style="margin-top: 5vh !important;">Informações</h5>
        <span>Período de inscrição: {{ campeonato.periodo_inscricao_comeco }} à {{ campeonato.periodo_inscricao_fim }}</span>
        <span>Período do campeonato: {{ campeonato.periodo_jogos_comeco }} à {{ campeonato.periodo_jogos_fim }}</span>
        <span>Cup manager: {{ campeonato.cup_manager }}</span>

        <h5 style="margin-top: 5vh !important;">Formulário de inscrição</h5>

        <div>
            <div class="d-flex gap-2">
                <div>
                    <label for="fname">Nome completo:</label>
                    <input type="text" id="fname" name="fname"><br><br>
                </div>

                <div>
                    <label for="alias">Apelido (opcional):</label>
                    <input type="text" id="alias" name="alias"><br><br>
                </div>
            </div>

            <div class="d-flex gap-2">
                <div>
                    <label for="phone">Celular:</label>
                    <input type="tel" id="phone" name="phone"><br><br>
                </div>

                <div>
                    <label for="bday">Data de nascimento:</label>
                    <input type="date" id="bday" name="bday"><br><br>
                </div>
            </div>

            <div class="w-100">
                <label for="team">Time:</label>
                <select type="text" id="team" name="team" class="w-100">
                    {% for x in times %}
                    <option value="{{ x.id }}">{{ x.nome }}</option>
                    {% endfor %}
                    <option value="criar_time">+ Criar</option>
                </select><br><br>
                <button class="w-100 mt-3 mb-10" onclick="submitForm()">Enviar</button>
            </div>
        </div>

        {%endif%}

        {%if times%}
        <h5 class="mt-5">Times</h5>
        {% for x in times %}
        <div class="d-flex flex-column align-center justify-center mb-5">
            <b>{{ x.nome }}</b>
            <ul>
                {% for j in x.time.all %}
                <li> {{ j.nome }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {%endif%}

    </div>
</main>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const is_admin = urlParams.get('is_admin');

    if (!is_admin) {
        document.getElementById('create_button').style.display = 'none';
    }

    async function submitForm() {
        const fname = document.getElementById("fname").value;
        const alias = document.getElementById("alias").value;
        const phone = document.getElementById("phone").value;
        const bday = document.getElementById("bday").value;
        const team = document.getElementById("team").value;

        let new_team_id = undefined;

        if (team === 'criar_time') {
            const team_name = document.getElementById("create_team").value;
            const host = window.location.host;
            const url = `http://${host}/api/times/`;

            const headers = {
                "Content-Type": "application/json",
                "Access-Control-Origin": "*"
            }

            const data = {
                "nome": team_name,
                "campeonato": {{ campeonato.id }}
            }

            await fetch(url, {
                method: "POST",
                headers: headers,
                body: JSON.stringify(data)
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                new_team_id = data.id;
            });
        }

        const data = {
            "nome": fname,
            "apelido": alias,
            "celular": phone,
            "data_nascimento": bday,
            "time": team != 'criar_time' ? team : new_team_id
        }

        const host = window.location.host;
        const url = `http://${host}/api/jogadores/`;

        const headers = {
            "Content-Type": "application/json",
            "Access-Control-Origin": "*"
        }

        fetch(url, {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);
                location.reload();
            });
    }

    document.getElementById("team").addEventListener("change", function () {
        if (this.value == "criar_time") {
            document.getElementById('team').style.display = 'none';
            document.getElementById('team').insertAdjacentHTML('afterend', '<input type="text" id="create_team" name="create_team" class="w-100" placeholder="Nome do time">');
        }
    });
</script>
{% endblock %}