{% extends "scaffold.html" %}

{% block content %}
<main>
  <div class="d-flex align-center justify-center flex-column">
    <h4 class="text-capitalize">Campeonatos</h4>
    <button id="create_button">
      <a href="/create_championship">
        Criar Campeonato
      </a>
    </button>
  </div>

  <hr style="max-width: 40vw !important; background-color: var(--quaternary) !important; color: var(--quaternary) !important; border-color: var(--quaternary) !important;" />

  <div class="pure-g d-flex align-start">
    <div class="d-flex align-center justify-center flex-column pure-u-1-3">
      <h5 class="text-capitalize">Campeonatos finalizados</h5>

      <div class="container d-flex flex-column align-center justify-center">
        {% for x in past %}
        <div class="d-flex flex-column align-center justify-center mb-5">
          <a href="/campeonato?pk={{ x.id }}" id="href-1"><b>{{ x.nome }}</b></a>
          <span>Unidade: {{ x.unidade.nome }}</span>
          <span>Período de inscrição: {{ x.periodo_inscricao_comeco }} à {{ x.periodo_inscricao_fim }}</span>
          <span>Período do campeonato: {{ x.periodo_jogos_comeco }} à {{ x.periodo_jogos_fim }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="d-flex align-center justify-center flex-column pure-u-1-3">
      <h5 class="text-capitalize">Campeonatos em andamento</h5>

      <div class="container d-flex flex-column align-center justify-center">
        {% for x in ongoing %}
        <div class="d-flex flex-column align-center justify-center mb-5">
          <a href="/campeonato?pk={{ x.id }}" id="href-2"><b>{{ x.nome }}</b></a>
          <span>Unidade: {{ x.unidade.nome }}</span>
          <span>Período de inscrição: {{ x.periodo_inscricao_comeco }} à {{ x.periodo_inscricao_fim }}</span>
          <span>Período do campeonato: {{ x.periodo_jogos_comeco }} à {{ x.periodo_jogos_fim }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="d-flex align-center justify-center flex-column pure-u-1-3">
      <h5 class="text-capitalize">Campeonatos futuros</h5>

      <div class="container d-flex flex-column align-center justify-center">
        {% for x in upcoming %}
        <div class="d-flex flex-column align-center justify-center mb-5">
          <a href="/campeonato?pk={{ x.id }}" id="href-3"><b>{{ x.nome }}</b></a>
          <span>Unidade: {{ x.unidade.nome }}</span>
          <span>Período de inscrição: {{ x.periodo_inscricao_comeco }} à {{ x.periodo_inscricao_fim }}</span>
          <span>Período do campeonato: {{ x.periodo_jogos_comeco }} à {{ x.periodo_jogos_fim }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</main>
<script>
  const is_admin = true ? window.location.pathname.includes('is_admin') : false

  if (!is_admin) {
    document.getElementById('create_button').style.display = 'none'
  }

  const url = is_admin ? '&is_admin=true' : '';

  document.getElementById('href-1').href = document.getElementById('href-1').href + url;
  document.getElementById('href-2').href = document.getElementById('href-2').href + url;
  document.getElementById('href-3').href = document.getElementById('href-3').href + url;
</script>
{% endblock %}